* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/tests export-ignore

/.env
/.env.*
/.env.example

/vendor
/node_modules

/.phpunit.result.cache
/phpunit.xml

/bootstrap/cache
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
.vscode
*.sublime-project
*.sublime-workspace
*.code-workspace

.DS_Store
Thumbs.db

*.log
*.sql
*.sqlite
*.bak
*.zip
*.tar.gz
*.pem
*.key
*.crt
*.cer
*.pfx
*.p12
*.cache
*.tmp
*.swp
*.swo
